<div class="bg-white py-24 sm:py-10">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Seja bem-vindo ao meu portfolio. Aqui vai alguns projetos que eu desenvolvi</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Para ver mais acesse: <a href="https://github.com/Curtixx?tab=repositories" class="text-purple-600 bg-purple-50">Github</a></p>
    </div>
    <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Abr 1, 2023</time>
          <a target="_blank" href="https://github.com/Curtixx/processo-seletivo-zeta" class="relative z-10 rounded-full bg-purple-50 px-3 py-1.5 font-medium text-purple-600 hover:bg-purple-100">Visitar</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a target="_blank" href="https://github.com/Curtixx/processo-seletivo-zeta">
              <span class="absolute inset-0"></span>
              Processo seletivo ZETA
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Esse projeto foi desenvolvido para um processo seletivo, onde eu desenvolvi uma API que realiza um CRUD em TypeScript</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="../../../assets/img/eu.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a target="_blank" href="https://github.com/Curtixx?tab=repositories">
                <span class="absolute inset-0"></span>
                Henrique Curtis
              </a>
            </p>
          </div>
        </div>
      </article>
      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Abr 1, 2023</time>
          <a target="_blank" href="https://github.com/Curtixx/Projeto-Feira-Tecnica" class="relative z-10 rounded-full bg-purple-50 px-3 py-1.5 font-medium text-purple-600 hover:bg-purple-100">Visitar</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a target="_blank" href="https://github.com/Curtixx/Projeto-Feira-Tecnica">
              <span class="absolute inset-0"></span>
              Projeto da feira técnica
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">O projeto foi um mapa para a feira técnica por reconhecimento de voz, ele teve o intuito de ajudar as pessoas a achar as salas.</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="../../../assets/img/eu.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a target="_blank" href="https://github.com/Curtixx?tab=repositories">
                <span class="absolute inset-0"></span>
                Henrique Curtis
              </a>

            </p>
          </div>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Abr 1, 2023</time>
          <a target="_blank" href="https://github.com/Curtixx/site-de-eventos-usando-laravel" class="relative z-10 rounded-full bg-purple-50 px-3 py-1.5 font-medium text-purple-600 hover:bg-purple-100">Visitar</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a target="_blank" href="https://github.com/Curtixx/site-de-eventos-usando-laravel">
              <span class="absolute inset-0"></span>
              Site de evento com Laravel
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Eu realizei esse projeto para aprimorar minhas habilidades com o maior framework do PHP</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="../../../assets/img/eu.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a target="_blank" href="https://github.com/Curtixx?tab=repositories">
                <span class="absolute inset-0"></span>
                Henrique Curtis
              </a>

            </p>
          </div>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Abr 1, 2023</time>
          <a target="_blank" href="https://github.com/Curtixx/rede-social-com-node.js" class="relative z-10 rounded-full bg-purple-50 px-3 py-1.5 font-medium text-purple-600 hover:bg-purple-100">Visitar</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a target="_blank" href="https://github.com/Curtixx/rede-social-com-node.js">
              <span class="absolute inset-0"></span>
              Projeto do 4° Bimestre de PAW
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Projeto feito para "imitar" o google classroom, usando Node.js</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="../../../assets/img/eu.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a target="_blank" href="https://github.com/Curtixx?tab=repositories">
                <span class="absolute inset-0"></span>
                Henrique Curtis
              </a>

            </p>
          </div>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Abr 1, 2023</time>
          <a target="_blank" href="https://github.com/Curtixx/api-rest" class="relative z-10 rounded-full bg-purple-50 px-3 py-1.5 font-medium text-purple-600 hover:bg-purple-100">Visitar</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a target="_blank" href="https://github.com/Curtixx/api-rest">
              <span class="absolute inset-0"></span>
              API Rest
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">API feita para ser consumida por uma aplicação React</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="../../../assets/img/eu.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a target="_blank" href="https://github.com/Curtixx?tab=repositories">
                <span class="absolute inset-0"></span>
                Henrique Curtis
              </a>

            </p>
          </div>
        </div>
      </article>

      <article class="flex max-w-xl flex-col items-start justify-between">
        <div class="flex items-center gap-x-4 text-xs">
          <time datetime="2020-03-16" class="text-gray-500">Abr 1, 2023</time>
          <a target="_blank" href="https://github.com/Curtixx/album-da-copa" class="relative z-10 rounded-full bg-purple-50 px-3 py-1.5 font-medium text-purple-600 hover:bg-purple-100">Visitar</a>
        </div>
        <div class="group relative">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a target="_blank" href="https://github.com/Curtixx/album-da-copa">
              <span class="absolute inset-0"></span>
              Gerenciador do Álbum da copa
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Eu desenvolvi esse projeto para gerenciar meu álbum da copa de 2022</p>
        </div>
        <div class="relative mt-8 flex items-center gap-x-4">
          <img src="../../../assets/img/eu.jpeg" alt="" class="h-10 w-10 rounded-full bg-gray-50">
          <div class="text-sm leading-6">
            <p class="font-semibold text-gray-900">
              <a target="_blank" href="https://github.com/Curtixx?tab=repositories">
                <span class="absolute inset-0"></span>
                Henrique Curtis
              </a>

            </p>
          </div>
        </div>
      </article>

    </div>
  </div>
</div>

